*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.general {
    background-color: rgb(106, 43, 224);
    background-image: url(img/home-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.general-content {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.general-title {
    color: white;
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 20px;
    
}

.general-desc {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    width: 50%;
    text-align: right;
    margin-bottom: 50px;
}

.general-link {
    display: flex;
    background-color: black;
    border-radius: 50px;
    color: blanchedalmond;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.5px;
    padding: 20px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

.text-style {
    display:flex;
    align-content: center;
    justify-content: left;
    color: rgb(63, 62, 62);
    font-weight: 400;
    font-size: 16px;
    width: 50%;
    margin-bottom: 50px;
    margin-left: 310px;
}

.features {
    background-color: #afaaaad8;
}

.features-title {
    display:flex;
    align-content: center;
    justify-content: center;
    color: #000;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 60px;
}

.skill-title {
    color: #353535;
    font-size: 20px;
}

.skill {
    display: flexbox;
    align-content: center;
    justify-content: space-between;
    background-color: #fff;
    width: 200px;
    height: 350px;
    margin: 10px;
}

.services {
    display: flex;
    align-content: center;
    justify-content: space-between;
}










/* @import url('https://fonts.googleapis.com/css?family=Poppins:300,400');

body {
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
}


.imgblock {
    position: relative;
    background-attachment: fixed;
}

.imgblock img {
    width:100%;
}

.imgblock div {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    border-radius: 2px;
    position: absolute;
    right: 0;
    bottom: 10px;
    font-size: 18px;
    padding: 3px 5px;
}

.presentation {
    display:flex;
    height: 300px;
    flex-direction:column;
    align-content: flex-end;
    justify-content:flex-start;
    width: 40%;
    margin: 40px;
    padding: 20px;   
}

.header {
    display:flex;
    height: 450px;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 50%;
    margin: 150px;
    padding: 40px;
}

.hello-text {
    height: 400px;
}

.botton {
    display: flex;
    margin: 150px;
    background-color: black;
    border: 1px solid black;
    border-radius: 50px;
    color: blanchedalmond;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding: 18px 32px;
    margin-top: 42px;
    text-decoration: none;
} */








